<%- include('header'); -%>

<h1>This is about page</h1>
<p>Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum
Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum
Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum
Lore Ipsum Lore Ipsum Lore Ipsum Lore Ipsum</p>


<%- include('footer'); -%>
